.rbc-header {
    font-family: '"Montserrat", sans-serif';
    font-weight: normal;
    font-size: 1.1rem;
    color: #666666; 
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.rbc-month-view {
    border: none;
  }

.rbc-month-row + .rbc-month-row {
    border: none;
  }

.rbc-header + .rbc-header {
   border: none;
}

.rbc-month-header {
    border-bottom: 1px solid #D9D9D9;
}